<app-loading *ngIf="loadingArtista"></app-loading>

<div class="row"  *ngIf="!loadingArtista">

  <div class="col-2">
	  <img [src]="artista.images | noImage" class="img-thumbnail image-circle">

  </div>
  <div class="col">
  <h3>  {{  artista.name }} </h3>
  <p>
	  <a [href]="artista.external_urls.spotify"  target="_blank">
		Ir a la página del artista
	  </a>
  </p>
  </div>
  <div class="col-4 text-right">
	  <button routerLink="/search"  class="btn btn-outline-danger">  Regresar  </button>
  </div>

</div>
<div class="row">
 <table class="table">
	 <thead>
		  <tr>
              <th>
                  Foto
			  </th>
			  <th>
				   Album
			  </th>
			  <th>
				  Tema
			  </th>
			  <th>
				  Vista Previa
			  </th>
		  </tr>
		  
	 </thead>
	 <tbody>
		 <tr *ngFor="let tema of topTracks">
			 <td>
				 <img [src]="tema.album.images | noImage" class="img-thumb">
			 </td>
		 <td>{{ tema.album.name  }} </td>
		 <td>{{ tema.name  }} </td>
			 <td>

				<audio [src]="tema.preview_url" controls></audio>
			 </td>

		</tr>
	 </tbody>
 </table>

</div>

